* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.png');
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 0px;
    margin-bottom: 80px;
}

.clearfix:: after {
        content: "";
        display: block;
        clear: both;
}

.Headings {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    font-weight: bold;
}

#Nav {
    border-bottom: solid 1px #cccccc;
    position: fixed;
    width: 100%;
    height: 71px;
    background-color: #ffffff;
    top: 0px;
    z-index: 10;
}

#Navbox {
    position: fixed;
    width: 960px;
    margin: 0px auto 0px auto;
    height: 71px;
    top: 0px;
    position: relative
}

#Myname {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 19px;
    z-index: 10;
}

#About, #Portfolio, #Contact {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 35px;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

#Contact {
    margin-right: 150px;
}
#Portfolio {
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}
#container {
    width: 960px;
    margin: 100px auto 20px auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    position: relative;
}

#contentbox {
    margin: 0px 20px 20px 20px;
    overflow: auto;
}

#Myname {
    background-color: #4aaaa5;
    color: white;
}


#PageHdr {
    color: #4aaaa5;
    border-bottom: solid 2px #cccccc;
    padding: 0px 0px 20px 0px;
}

#Mypic {
    width: 175px;
    float: left;
    margin: 7px 20px 0px 0px;
}

.About-me-text {
    line-height: 175%;
}

footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    color: #ffffff;
    font-size: 10px;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-top: 30px;
}

/* Specific to Portofolio */

.figure {
    position: relative;
    float: left;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 177px;
}

.Portfoliopics {
    width: 200px; height: 175px;
}

.Labels {
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    margin: 0px;
    text-align: center;
    padding: 10px 0px;
    position: absolute;
    bottom: 10px;
}

/* Specific to Contact */

input[type=text] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 12px;
    color: #777777;
}

input[type=text]:focus {
    border: 2px solid grey;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 12px;
    color: #777777;
    resize: none;
}

input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* Experimentation Zone */

/* Effect over hovering */
a:hover {
    border-bottom: 2px solid #777777
}

/* Media Queries */

@media only screen and (max-width: 640px) {
    #Navbox {
        width: 250px;
        top:70px;
        height: 30px;
    }

    #Myname {
        position: fixed;
        text-align:center;
        width:100%;
    }

    #Nav {
        height: 120px;
    }

    #Contact {
        margin-right: 20px;
    }

    #About, #Portfolio, #Contact {
        margin-top: 15px;
    }

    #container {
        width: 90%;
        margin: 140px auto 20px auto;
    }

    #Mypic {
        width: 100%;
    }

    .figure {
        margin-right: 0px;
        width: 100%;
        height: auto;
    }
    
    .Portfoliopics {
        width: 100%; height: auto;
    }
    
    .Labels {
        width: 100%;
        bottom: 20px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 641px) {
    #container {
        width: 90%;
    }

    #Mypic {
        width: 50%;
    }

    #Navbox {
        width: 90%;
    }

    #Contact {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 980px) and (min-width: 769px) {
    #container {
        width: 60%;
        margin: 100px auto 20px 45px;
    }

    #Mypic {
        width: 50%;
    }

    #Navbox {
        width: 90%;
    }

    #Contact {
        margin-right: 30px;
    }

}